.Top {
  display: flex;
  
  height: var(--nav-height);
  
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  svg path {
    fill: white;
    stroke: white;
  }
  
  .Scroll {
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




