:root {
  font-size: 62.5%; /* 1rem = 10px */

  --prymary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --nav-height: 7.2rem;
}
